<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <div class="alert alert-danger" role="alert">
        <%= "Work #{column} #{message}. Please enter a valid #{column}." %>
      </div>
    <% end %>
  </ul>
<% end %>

<div class="container-sm">
<h3><%= "#{action_name}" %> work</h3>
<p>All works must have a title, creator, publication year, and description.</p>

<% categories = Work.all.map {|t| t.category}.uniq %>

<%# ["select a category"] + categories %>

<%= form_with model: @work, class: 'user-form' do |f| %>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(["select a category"] + categories), class: "form-control-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control-lg", placeholder: "title"%>
  </div>
  <div class="form-group">
    <%= f.label :creator %><br>
    <%= f.text_field :creator, class: "form-control-lg", placeholder: "creator" %>
  </div>
  <div class="form-group">
    <%= f.label :publication_year %><br>
    <%= f.text_field :publication_year, class: "form-control-lg", placeholder: "publication year" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control-lg", placeholder: "description" %>
  </div>

  <%= f.submit action_name == "New" ? "Add new work" : "#{action_name} work" , class: "work-button" %>
<% end %>
</div>
</div>