<h2>List of Works</h2><br>

<% top_ten.each do |cat, works| %>

  <h3><%= cat.capitalize %>s</h3><br>
  <div class="container-lg">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Creator</th>
          <th>Publication Year</th>
          <th>Edit</th>
        </tr>
      <thead>

      <tbody>
        <% works.each do |work|  %>
          <tr class="clickable-tr" data-path="<%= work_path(work)%>" >
            <td><%= work.users.length %></td>
            <td><%= work.title %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= button_to "Upvote", upvote_path(work.id), method: :patch %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

<% end %>

<%= link_to "Add Work", new_work_path %>




