<h1>ALL WORKS</h1>


<% categories = Work.all.map {|t| t.category}.uniq %>

<% categories.each do |cat| %>

  <h3><%= cat.capitalize %></h3>
  <div class="driver container-lg">

  <table class="table table-hover">
  <thead>
  <tr>
  <th>Title</th>
  <th>Creator</th>
  <th>Publication Year</th>
  <th>Edit</th>
  </tr>
  <thead>

  <tbody>
    <% Work.where(:category => cat).order('title').each do |work|  %>
        <tr data-path="<%= work_path(work)%>" >
          <td><%= work.title %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= button_to "Edit Work", edit_work_path(work.id), method: :get %> </td>
        </tr>
    <% end %>
  </tbody>
  </table>

  </div>

<% end %>

<%= link_to "Add Work", new_work_path %>




