<div class="profile">
  <h1>Details for <%= @work.title %></h1>

  <div class="container">
    <div class="row">

        <div class="info-panel">
          <h3><%= @work.category.capitalize %> Information</h3>
          <ul>
            <li><span>Title:</span> <%= @work.title %></li>
            <li><span>Creator:</span> <%= @work.creator %> </li>
            <li><span>Publication Year:</span> <%= @work.publication_year %>
            <li><span>Description: </span> <%= @work.description %> </li>
          </ul>
        </div>

        <section>
          <%= button_to "Back to Media Ranks", root_path, method: :get %>
          <%= button_to "Edit Work", edit_work_path(@work.id), method: :get %>
          <%= button_to "Upvote", upvote_path(@work.id), method: :patch %>
          <%= button_to "Delete Work", work_path(@work.id), method: :delete %>
        </section>

        <div class="driver container-lg">
          <h3><%="#{@work.users.length} Votes for this #{@work.category}"%></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
              </tr>
            <thead>

            <tbody>
              <% @work.users.each do |user|  %>
                <tr data-path="<%= user_path(user)%>" >
                  <td><%= user.username %></td>
                  <td><%= user.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

    </div>  
  </div>
</div>


