<h1>ALL USERS</h1>

<div class="driver container-lg">

  <table class="table table-hover">
    <thead>
      <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
      </tr>
    <thead>

    <tbody>
      <% @users.each do |user|  %>
        <tr class="clickable-tr" data-path="<%= user_path(user)%>" >
          <td><%= user.username %></td>
          <td><%= user.works.length %></td>
          <td><%= user.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= link_to "Back to Media List", root_path %>




