<div class="profile">
  <h1>User Summary for <%= @user.username %></h1>
  <p><%= "Joined site #{@user.created_at}" %></p>

  <div class="driver container-lg">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      <thead>

      <tbody>
        <% @user.works.each do |work|  %>
          <tr class="clickable-tr" data-path="<%= work_path(work)%>" >
            <td><%= work.title %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= work.category %> </td>
            <td><%= Vote.find_by(user_id: @user.id, work_id: work.id).created_at %> </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>




