<nav class="nav-header navbar-static-top">
  <ul class="container">
    <%= link_to root_path do%><li class="logo"><h1>Media Ranker</h1></li><%end%>
    
    <div class="nav-body">
      <%= link_to root_path do%><li>View top media</li><%end%>
      <%= link_to works_path do%><li>View all media</li><%end%>
      <%= link_to users_path do%><li>View all users</li><%end%>
      <%= link_to new_work_path do%><li>Add a new work</li><%end%>
    </div>

    <br>

    <div class="btn btn-info">
      <% if session[:user_id] %>
        <%= link_to "Log out from #{User.find_by(id: session[:user_id]).username}", logout_path, method: :post, :class => "btn" %>
      <% else %>
        <%= link_to "Login", login_path, :class => "btn" %>
      <% end %>
    </div>
  </ul>

</nav>
