<% content_for(:title) { 'Media Ranker - Home' } %>

<header class="spotlight">
  <% spotlight = Work.top_vote %>
  <h2>Media Spotlight: <%= link_to "#{spotlight.title}", work_path(spotlight.id) %> by <%= spotlight.creator %></h2><br>
  <p><%= spotlight.users.length %> votes - <%= spotlight.description %></p>
</header>

<hr>

<body>
  <% categories = ["album", "book", "movie"] %>
  <section class="top-ten">
    <% Work.top_ten.each do |cat, works| %>
      <div class="top-ten-list">
        <h3>Top <%= cat.capitalize %>s</h3>
        <% if !works.length.nil? %>
          <% works.each do |work| %>
            <div class="top-ten-list-item">
              <h4><%= link_to "#{work.title}", work_path(work.id) %></h4>
              <%= " by #{work.creator}" %><br>
              <p><%= "#{work.users.length} votes" %></p><br>
            </div>
          <% end %>
        <% else %>
          <%= "There are no works in this category" %>
        <% end %>
      </div>
    <% end %>
  </section>
</body>

