<% content_for(:title) { 'Media Ranker - Home' } %>

<% ordered_works = order_works %>

<section>
  <% spotlight = ordered_works[0] %>
  <h2>Media Spotlight: <%= link_to "#{spotlight.title}", work_path(spotlight.id) %> by <%= spotlight.creator %></h2>
  <p><%= spotlight.users.length %> votes - <%= spotlight.description %></p>
</section>

<hr>

<section>
  <% categories = ordered_works.map {|t| t.category}.uniq %>
  <% categories.each do |cat| %>
    <h3>Top <%= cat.capitalize %>s</h3>

    <div class="driver container-lg">
      <% items = ordered_works.select {|work| work.category == cat } %>
      <% if !items.length.nil? %>
        <% items[0..[10, items.length].min].each do |work| %>
          <%= link_to "#{work.title}", work_path(work.id) %><%= " by #{work.creator} #{work.users.length} votes" %><br>
        <% end %>
      <% else %>
        <%= "There are no works in this category" %>
      <% end %>
    </div>
    

  <% end %>
</section>

